/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }

/**** class-based style modifiers ****/

.no-margins { margin: 0px; }

.with-margins { margin: 50px 100px 10px 100px;}

.col-centered { float: none; margin: 0 auto; }


body {
width: 960px;
margin: 20px auto;
background: #ffffff
}

html { background-color: #ffeede; }

