body { margin: 0 auto; background: #ffd98f top center repeat-y; padding: 0; font: 76% Verdana,Tahoma,Arial,sans-serif; }
#wrap { background: #ffffff; color: #303030; margin: 0 auto; margin-top: 1cm; width: 960px; }
#wrap2 { background: #ffffff; color: #303030; margin: 0 auto; margin-top: -0.4cm; width: 960px; }
#header { clear: both; margin: 20px 0 0 0; padding: 0; height: 45px; }
#header h1 { width: 250px; margin: 0 0 10px 0; float: left; }
#header p { width: 500px; float: right; text-align: center; color: #a0a0a0; margin: 0 0 10px 0; font-size: 0.8em; line-height: 1.2em; }
#frontphoto { margin: 0 0 10px 0; border: 0; }
#avmenu { clear: left; float: left; width: 175px; margin: 0 0 10px 0; padding: 0; font-size: 0.9em; }
#avmenu ul { list-style: none; width: 175px; margin: 0 0 20px 0; padding: 0; font-size: 1.1em; }	
#avmenu li { margin-bottom: 4px; }
#avmenu li a { font-weight: bold; height: 20px; text-decoration: none; color: #505050; display: block; padding: 6px 0 0 10px; background: #f4f4f4; border-left: 4px solid #cccccc; }	
#avmenu li a:hover { background: #eaeaea; color: #034478; border-left: 4px solid #034478; }

#avmenu ul ul {
    font-size:0.8em; 
    margin:0 0 0 15px; 
    padding:0 0 3px; 
    width:150px;
}

#avmenu ul ul a {
    font-weight:400; 
    padding:3px 1px 3px 5px; 
    width:140px;
}

#avmenu ul ul li a {
    height: 10px;
}

#content { margin: 0 10px 20px 180px; border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; padding: 0 10px 0 10px; line-height: 1.6em; text-align: left; }
#content h1 { font-size: 1.7em; margin: 0 0 0.5em 0; }
#content h2 { font-size: 1.5em; margin: 0 0 0.5em 0; font-family: serif;}
#content h3 { font-size: 1.3em; margin: 0 0 0.1em 0; }
#content img { padding: 1px; display: inline; background: #cccccc; border: 4px solid #f0f0f0; }
a { text-decoration: none; color: #034478; }
a:hover { text-decoration: underline; color: #034478; }
a img { border: 0; }
#footer { clear: both; margin: 0 auto; padding: 10px 0 20px 0; border-top: 4px solid #f0f0f0; width: 600px; text-align: center; color: #808080; font-size: 0.9em; }
#footer a { color: #808080; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.left { margin: 10px 10px 5px 0; float: left; }
.right { margin: 10px 0 5px 10px; float: right; }
.textright { text-align: right; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.hide { display: none; }
.error { color: #ff0033; font-size: 1.2em; }
#form { width: 650px }
#form th { width: 200px }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border-radius: 4px;
  border: 1px solid #98c571;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  background: #bfdba7;
  background: -webkit-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -ms-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -moz-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -o-linear-gradient(bottom, #b2d495, #cce2b9);
  background: linear-gradient(to top, #b2d495, #cce2b9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #aacf8a, inset 0 1px 0 #d4e7c4;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px 21px 25px;
  font-size: 15px;
  text-decoration: none;
  color: #fcfefb;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmen.align-right > ul > li:first-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  background: rgba(125, 125, 125, 0.04);
}
#cssmenu > ul > li:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 0;
  display: block;
  height: 20px;
  width: 1px;
  opacity: .15;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
}
#cssmenu.align-right > ul > li:after {
  right: auto;
  left: -1px;
}
#cssmenu > ul > li:before {
  content: '';
  position: absolute;
  top: 18px;
  right: -1px;
  display: block;
  height: 20px;
  width: 1px;
  opacity: .35;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01), #ffffff, rgba(255, 255, 255, 0.01));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
}
#cssmenu.align-right > ul > li:before {
  right: auto;
  left: 0px;
}
#cssmenu > ul > li:last-child:after,
#cssmenu > ul > li:last-child:before {
  display: none;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px 19px 25px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: #fcfefb;
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 20px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #fcfefb;
  border-bottom: 2px solid #fcfefb;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 30px;
  display: block;
  width: 18px;
  height: 2px;
  background: #fcfefb;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
