{% extends "base.html" %}

{% block body %}
    <div id="wrap">
       
       <div id='cssmenu'>
	 <ul>
	   <li class='active'><a href='#'>home</a></li>
	   <li ><a href='#'>stereo</a></li>
	   <li><a href='#'>flow</a></li>
	   <li><a href='submit'>submit results</a></li>
	   </ul>
	 </div>
        
        <div id="content">
            {% block one %}{% endblock %}
        </div>
        <div id="footer">
            <p>Copyright &copy; 2015 <a href="http://www.ttic.edu">Toyota Technological Institute at Chicago</a> </p>
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}
