#wr { width: 1000px; }
#body { margin-top: 15px; margin-bottom: 15px; border-bottom: 1px solid #555; border-top:1px solid #555; }
#main { width: 75%; padding:15px 0 15px 15px; border-left: 1px solid #555; }
#side { padding: 15px 15px 15px 0; }
