{% extends "base_templates/page_base.html" %} {# base_templates/page_base.html extends base_templates/base.html #} {% block main %}
<style>
    table, th, td {
        text-align: center;
    }
    </style>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{{ url_for('home') }}">home</a>
    </li>
    <li role="presentation"><a href="{{ url_for('stereo') }}">stereo</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow')
    }}">100ms flow</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow2')
    }}">400ms flow</a>
    </li>
    <li role="presentation"><a href="{{ url_for('submit') }}">submit stereo</a>
    </li>
    <li role="presentation"><a href="{{ url_for('submit2') }}">submit flow</a>
    </li>
</ul>
{% endblock %} {% block main2 %}
<div class="section">
    <h3 class="title">Introduction</h3>
    <hr>
    <p>Tval is a vision benchmark suite consisting of image and lidar
    data. It evaluates vision algorithms based on the predictions of
    lidar time of flight (ToF), and the raw lidar data is used as
    ground truth. Different converters are available to users to
    enable more convenient submissions of disparity maps or optical
    flows, which can be converted by the converters to lidar ToF
    predictions. Parameters of default calibrations are also
    accessible although users could train the parameters on their
    own. The training data and test data can be downloaded via the
    stereo and sceneflow pages.</p>
    <table align="center" style="width:100%">
        <tr>
            <td><img  src="{{ url_for('static', filename='000254.png') }}" width="160" height="84" alt="Logo" /></td>
            <td><img  src="{{ url_for('static', filename='lidar.png') }}" width="160" height="84" alt="Logo"/></td>
        </tr>
    </table>
    <h3 class="title">Citation</h3><hr>
    Sensor-Prediction Evaluation of Stereo, Optical Flow and Scene Flow Algorithms. <i>Harry Yang, David McAllester, Michael James </i>

    <h3 class="title">Copyright</h3><hr>
    All datasets and benchmarks on this page are copyright by us and published under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 License.
    This means that you must attribute the work in the manner specified by the authors, you may not use this work for commercial purposes and if you alter, transform, or build upon this work, you may distribute
    the resulting work only under the same license. If you are interested in commercial usage you can contact us for further options.
    <h3 class="title">Credits</h3><hr>
    We thank Toyota Research Institute of North America (TRINA) and Toyota Technological Institute at Chicago (TTI-C) for funding this project. We also thank Faizan (TRINA) for providing the initial data.



</div>
{% endblock %}
