{% extends "base_templates/page_base.html" %} {# base_templates/page_base.html extends base_templates/base.html #} {% block head %}
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
</script> {% endblock %}
{% block main %}
<style>
    table, th, td {
        text-align: center;
    }
</style>
<ul class="nav nav-pills">
    <li role="presentation"><a href="{{ url_for('home') }}">home</a>
    </li>
    <li role="presentation" class="active"><a href="{{ url_for('stereo') }}">stereo</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow')
    }}">100ms flow</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow2')
    }}">400ms flow</a>
    </li>
    <li role="presentation"><a href="{{ url_for('submit') }}">submit stereo</a>
    </li>
    <li role="presentation"><a href="{{ url_for('submit2') }}">submit flow</a>
    </li>
</ul>
{% endblock %} {% block main2 %}
<div class="section">
    <h3 class="title">Dataset</h3>
    <hr>
    <table align="center" style="width:100%">
        <tr>
            <td><a href="../../static/data/calib.zip"><img  src="{{ url_for('static', filename='download.png') }}" width="100" height="100" alt="Logo" /></a></td>
            <td><a href="../../static/data/train.zip"><img  src="{{ url_for('static', filename='download.png') }}" width="100" height="100" alt="Logo" /></a></td>
            <td><a href="../../static/data/test.zip"><img  src="{{ url_for('static', filename='download.png') }}" width="100" height="100" alt="Logo" /></a></td>
            <td><a href="../../static/data/test_images.zip"><img  src="{{ url_for('static', filename='xcode.jpg') }}" width="100" height="100" alt="Logo" /></a></td>
        <tr>
            <td>Calibration Data<span data-toggle="tooltip" data-html="true" data-original-title="Providing the default camera parameters."><sup>❓</sup></span></td>
            <td>Training Data</td>
            <td>Test Data</td>
            <td>Development Kit<span data-toggle="tooltip" data-html="true" data-original-title="Providing the source code for converters and evaluation."><sup>❓</sup></span></td>
        </tr>
    </table>
    <h3 class="title">Evaluation</h3>
    <hr>
    <br>
    <table class="table table-bordered">
        <tr>
            <th id="id">ID</th>
            <th id="email">Method</th>
            <th width="10%">Setting</th>
            <th width="10%">Code</th>
            <th width="15%">Easy</th>
            <th width="15%">Hard</th>
            <th width="10%">Runtime</th>
            <th >Environment</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td></td>
            <td></td>
            <td>{{ user.stereo_score_all }}</td>
            <td>{{ user.stereo_score_noocclude }}</td>
            <td>{{user.runtime}}</td>
            <td>{{user.environment}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
