{% extends "base_templates/page_base.html" %} {# base_templates/page_base.html extends base_templates/base.html #} {% block head %}
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function validate() {
        if (document.getElementById('stereo').checked == true) {
            document.getElementById('slanted_plane').disabled = false;
            document.getElementById('raw_disparity').disabled = false;
            document.getElementById('slanted_plane').checked = true;
            document.getElementById('default_calib').disabled = false;
            document.getElementById('custom_calib').disabled = false;
            document.getElementById('default_calib').checked = true;

        } else if (document.getElementById('probes').checked == true) {
            document.getElementById('slanted_plane').disabled = true;
            document.getElementById('raw_disparity').disabled = true;
            document.getElementById('slanted_plane').checked = false;
            document.getElementById('default_calib').disabled = true;
            document.getElementById('custom_calib').disabled = true;
            document.getElementById('default_calib').checked = false;
        }
    }
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
</script> {% endblock %} {% block main %}
<ul class="nav nav-pills">
    <li role="presentation"><a href="{{ url_for('home') }}">home</a>
    </li>
    <li role="presentation"><a href="{{ url_for('stereo') }}">stereo</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow')
    }}">100ms flow</a>
    </li>
    <li role="presentation"><a href="{{ url_for('flow2')
    }}">400ms flow</a>
    </li>
    <li role="presentation" ><a href="{{ url_for('submit') }}">submit stereo</a>
    </li>
    <li role="presentation" class="active"><a href="{{ url_for('submit2') }}">submit flow</a>
    </li>
</ul>
{% endblock %} {% block main2 %} {% if current_user.is_authenticated() %}
<div class="section">
    <h3 class="title">User Information</h3>
    <hr>
    <p>{{ current_user.user_auth.email }}</p>
    <p>Status<span data-toggle="tooltip" data-html="true" data-original-title="Showing submission status. <br>None: no submission yet."><sup>❓</sup></span>: {{current_user.status }}</p>
    <p><a href="{{ url_for('user.logout') }}">Sign out</a>
    </p>
</div>
<div class="section"></div>
<h3 class="title">Submit Your Results</h3>
<hr>
<form method="POST" action="upload" accept-charset="UTF-8" enctype="multipart/form-data">
    {% if error %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>{{ error }}
    </div>
    {% endif %}
    <div id="main-div">
        <p>Submit option:</p>
        <div style="float:right;margin-right: 150px">
            <a href="{{url_for('static',filename='stereo_submit_instruction.txt')}}"><img id="frontphoto" src="{{ url_for('static', filename='notepad3.png') }}" width="130" height="150" alt="Logo" /></a>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="submit_option" value="disparity maps" id="stereo" onclick="validate()" checked>Flow Maps</label>
            <label>
                <input type="radio" name="submit_option" value="probe" id="probes" onclick="validate()">Lidar Distances</label>
        </div>
        <p>Select converter:</p>
        <div class="radio">
            <label>
                <input type="radio" name="converter_option" value="slanted_plane" id="flow_converter" checked>Flow Converter</label>
            <label>
               <input type="radio" name="converter_option" value="slanted_plane" id="ego_motion_converter" checked>Ego Motion Converter</label>
        </div>
        <p>Select calibration:</p>
        <div class="radio">
            <label>
                <input type="radio" name="calib_option" value="default" id="default_calib" checked>Default calibration</label>
            <label>
                <input type="radio" name="calib_option" value="user_defined" id="custom_calib">Customized calibration
            </label>
        </div>
        <input id="input-1" type="file" name="file" class="file">
    </div>
    <br>

    <button class="btn-info btn" input type="submit" value="upload">Upload</button>
</form>
</div>
{% else %}
<div class="section">
    <h3 class="title"><a href="{{ url_for('user.login') }}">Sign
        In</a></h3>
</div>
{% endif %} {% endblock %}
