<!doctype html>
<html lang="en-us">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Tval</title>
    <link rel=stylesheet type="text/css" media="screen,projection" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type="text/css" media="screen,projection" href="{{ url_for('static', filename='app.css') }}"> {% block head %}{% endblock %}
</head>

<body>
    <div id="header-div" class="clearfix">

        <img id="logo" src="{{ url_for('static',
        filename='logo4_out.png') }}" width="600" height="100" alt="Logo" />
        <a href="http://www.ttic.edu"><img id="frontphoto" src="{{ url_for('static', filename='toyota2.jpg') }}" align="right" width="100" height="100" alt="Logo" /></a>
        <a href="http://www.ttic.edu"><img id="frontphoto" src="{{ url_for('static', filename='logo.jpg') }}" align="right" width="100" height="100" alt="Logo" /></a>
    </div>
    <div style="margin-top: 4pt;">
        <span class="label label-warning" style="font-size: 12pt">Harry Yang (TTIC)</span>
        <span class="label label-warning" style="font-size: 12pt">David McAllester (TTIC)</span>
        <span class="label label-warning" style="font-size: 12pt">Michael James (TRINA)</span>
    </div>
    <div id="main-div" style="margin-top:5pt;">
        {% block main %}{% endblock %} {# One-time system messages called Flash messages #} {% block flash_messages %} {%- with messages = get_flashed_messages(with_categories=true) -%} {% if messages %} {% for category, message in messages %} {% if category=='error' %} {% set category='danger' %} {% endif %} <!--{% if category=='success' or category=='info' or category=='warning' or category=='danger' %}-->
        <div class="alert alert-{{category}}">{{ message|safe }}</div>
        {% endif %} {% endfor %} {% endif %} {%- endwith %} {% endblock %}
    </div>
    <div id="main-div" style="width: 660px; margin: auto;">
        {% block main2 %}{% endblock %}
    </div>
    <div id="footer-div" class="clearfix" style="margin-top:50pt;">
        <p align="center">Copyright &copy; 2015 <a href="http://www.ttic.edu">Toyota Technological Institute at Chicago</a> </p>
    </div>

</body>


</html>
