{% extends "base_templates/base.html" %}

{% block main %}
<ul class="nav nav-pills">
    <li role="presentation" ><a href="{{ url_for('home') }}">home</a></li>
    <li role="presentation"><a href="{{ url_for('stereo') }}">stereo</a></li>
    <li role="presentation"><a href="{{ url_for('flow') }}">scene flow</a></li>
	 <li role="presentation" class="active"><a href="{{ url_for('submit') }}">submit results</a></li>
</ul>        

<br>
{% endblock %}

{% block main2 %}
    {% block content %}{% endblock %}

{% endblock %}
